<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Team 2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	

  
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

    {% load static %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css "{% static 'css/layout_style.css' %}"-->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'css/superfish.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
	<!-- CS Select -->
	<link rel="stylesheet" href="{% static 'css/cs-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/cs-skin-border.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <header id="fh5co-header-section" class="sticky-banner">
        <div class="container">
          <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
            <h1 id="fh5co-logo">
              <a href="index.html"><i class="icon-airplane"></i>Travel</a>
            </h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
              <ul class="sf-menu" id="fh5co-primary-menu">
                <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
				{% if user.is_authenticated %}
					<li><p style="margin-top: 10px;">Welcome {{request.user.username}} !</p></li>
				{% endif %}
                <!-- <li><a href="{% url 'flight' %}">Flights</a></li> -->
                <li><a href="{% url 'contact' %}">Contact</a></li>

				{% if user.is_authenticated %}
				<li><a href="{% url 'logout' %}">Logout</a></li>
				<li><a href="{% url 'home' %}">Flights</a></li>
				<li><a href="{% url 'manage_booking' %}">My Bookings</a></li>
				{% else %}
				<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
                <li><a href="{% url 'signup' %}">Signup</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    <div id="fh5co-wrapper">
	    <div id="fh5co-page">
            {% block content %}
            {% endblock %}
            <footer>
                <div id="footer">
                    <div class="container">
                        
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <p class="fh5co-social-icons">
                                    <a href="#"><i class="icon-twitter2"></i></a>
                                    <a href="#"><i class="icon-facebook2"></i></a>
                                    <a href="#"><i class="icon-instagram"></i></a>
                                    <a href="#"><i class="icon-dribbble2"></i></a>
                                    <a href="#"><i class="icon-youtube"></i></a>
                                </p>
                                <p>Copyright team2 sad </a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by team 2<a href="" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->
</body>
    {% block scripts %}
    {% endblock %}
    <!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/sticky.js' %}"></script>

	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Superfish -->
	<script src="{% static 'js/hoverIntent.js' %}"></script>
	<script src="{% static 'js/superfish.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup-options.js' %}"></script>
	<!-- Date Picker -->
	<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
	<!-- CS Select -->
	<script src="{% static 'js/classie.js' %}"></script>
	<script src="{% static 'js/selectFx.js' %}"></script>
	
	<!-- Main JS -->
	<script src="{% static 'js/main.js' %}"></script>
</html>
