{% extends "base.html" %} {% block content %}
<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div
    class="fh5co-cover"
    data-stellar-background-ratio="0.5"
    style="background-image: url(images/cover_bg_1.jpg)"
  >
    <div class="desc">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="tabulation animate-box">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a
                    href="#flights"
                    aria-controls="flights"
                    role="tab"
                    data-toggle="tab"
                    >Flights</a
                  >
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="flights">
                  <div class="row">
                    <div class="col-xxs-12 col-xs-6 mt">
                      <div class="input-field">
                        <label for="from">From:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="from-place"
                          placeholder="Los Angeles, USA"
                        />
                      </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 mt">
                      <div class="input-field">
                        <label for="from">To:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="to-place"
                          placeholder="Tokyo, Japan"
                        />
                      </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 mt alternate">
                      <div class="input-field">
                        <label for="date-start">Check In:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="date-start"
                          placeholder="mm/dd/yyyy"
                        />
                      </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 mt alternate">
                      <div class="input-field">
                        <label for="date-end">Check Out:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="date-end"
                          placeholder="mm/dd/yyyy"
                        />
                      </div>
                    </div>

                    <div class="col-xs-12">
                      <input
                        type="submit"
                        class="btn btn-primary btn-block"
                        value="Search Flight"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
